body{
  margin: 0;
}
header{
  width: 100%;
  height: 50px;
  background-color: pink;
  position: absolute;
  left: 0;
  top: 0;

}

/*

.absolut{
  position: absolute;
  background-color: peru;
  width: 200px;
  height: 200px;
  top: 0;
  right: 0;
    z-index: 3;
}

.absolut-2{
  position: absolute;
  background-color: plum;
  width: 200px;
  height: 200px;
  top: 0;
  right: 20px;
  z-index: 2;
}

.relative{
  position: relative;
  background-color: tan;
  width: 700px;
  height: 300px;
  right: 0;
}

.absolute-3{
  position: absolute;
  background-color: blue;
  width: 200px;
  height: 200px;
  top: 0;
  right: 0;
} */

.two{
  position: absolute;
  background-color: red;
  width: 200px;
  height: 200px;
  top: 70px;
  left: 20px;
}
.three{
  position: relative;
  background-color: yellow;
  width: 150px;
  height: 150px;
  left: 40px;
  top: 40px;

}

.four{
  position: absolute;
  background-color: red;
  width: 200px;
  height: 200px;
  top: 70px;
  right: 20px;
}
.five{
  position: relative;
  background-color: yellow;
  width: 150px;
  height: 150px;
  top: 25px;
  left: 25px;

}

.six{
  position: absolute;
  background-color: orange;
  width: 500px;
  height: 200px;
  top: 350px;
  margin-left: 300px;
}

.seven{
  position: relative;
  background-color: yellow;
  width: 70px;
  height: 30px;
}


.eight{
  position: relative;
  background-color: pink;
  width: 60px;
  height: 60px;
  top: 110px;
  left: 440px;
}



.nine {
    position: fixed;
    background-color: blue;
    width: 100px;
    height: 100px;
    bottom: 0;
    left: 0;
    }

.ten {
      position: absolute;
      background-color: grey;
      width: 100px;
      height: 50px;
      bottom: 0;
      right: 0;
      }
